/* *,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
} */

.page_wrap {
    max-width: 360px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #ddd;
}

.logIn {
    border-radius: 5px;
    background-color: #f2f2f2;
    position: absolute;
    top: -20px;
    border-radius: 10px;
    padding: 25px;
    align-items: center;
    width: 456px;
    left: 450px;
    margin-top: 135px;
    box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

.details input{
    /* margin: 5px;
    height: 36px; */

    margin: 5px;
    height: 45px;
    border-bottom:1px solid   chocolate;
    background: transparent;
    align-items: center;
    color:black;
    letter-spacing: 1px;
    width: 350px;
    margin-left: 25px;
  
}

.details input:focus{
    outline: none;
    border: 3px solid rgb(12, 85, 196);
}
::placeholder{
    color: black;

}
#logoo{
    display: none;
    position: absolute;
    left: 346px;
    top: 51%;
    z-index: 2;
    width: 40px;
    height: 40px;
}

.btn{
    width: 127px;
    height: 43px;
    display: inline-block;
    border: none;
    margin-top: 25px;
    font-size: 20px;
    border-radius:7px;
    cursor: pointer;
    color: black;
    transition: 0.4s ease;
    margin-left: 119px;
    border: 2px solid #4CAF50;
    background-color: #bce2bd;
}
.btn a{
    text-decoration: none;
    color: black;
}
.btn:hover{
    background-color: #4CAF50;
    color: white;
  
   
}
.lbl{
   
        position: fixed;
        font-size: 18px;
    
}
#lblError2,#lblError{
  
    font-size: 18px;
}

.message{
    font-size: 23px;
    width: 421px;
    
    margin: auto;
    margin-top: 84px;
}   
#otp{
    padding: 10px;
    border-color: beige;
}
#validate{
    font-size: 23px;
    background-color: blueviolet;
    margin-left: 11px;
    margin-right: 10px;
    padding-right: 16px;
    padding-left: 14px;

}
#otpError{
    display: none;
}
p{
    font-family: serif;
  
}